.appointment-form {
  background: url("../img/appointment-bg.png") no-repeat center;
  background-size: cover;
  padding: 35px 0;
  .form {
    float: right;
    .form_title {
      margin-bottom: 25px;
      text-align: center;
    }
    .form_subheading {
      margin-bottom: 25px;
      max-width: 420px;
      color: #adadad;
      font-family: PFBeauSansPro-ThinItalic, sans-serif;
      font-size: 20px;
      line-height: 30px;
    }
    form {
      display: flex;
      flex-direction: column;
      input, select {
        margin-bottom: 20px;
        padding: 20px 25px;
        max-width: 490px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        &::placeholder {
          color: #b0b0b0;
          font-family: PFBeauSansPro-Regular, sans-serif;
          font-size: 16px;
        }
      }
      select {
        color: #b0b0b0;
        font-family: PFBeauSansPro-Regular, sans-serif;
        font-size: 16px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
      }
      p {
        color: #58585a;
        font-family: PFBeauSansPro-Regular, sans-serif;
        font-size: 17px;
      }
      .sbm_btn {
        margin: 0 auto;
        padding: 10px 25px;
        max-width: 190px;
        border-radius: 23px;
        border: 1px solid #d8262e;
        background-color: #d8262e;
        color: #ffffff;
        font-family: PFBeauSansPro-Bbook, sans-serif;
        font-size: 15px;
        .fa-arrow-right {
          margin-left: 15px;
        }
        &:hover {
          background-color: #e1e1e1;
          border-color: #58585a;
          color: red;
          transition: all 0.5s;
        }
      }
    }
  }
}




@media (min-width: 768px) {
  .appointment-form {
    padding: 100px 0 80px;
  }
}