.doc_anna {
	background-color: #0e4675;
	.doc_flex {
		display: flex;
		flex-direction: column;
		.doc_photo {
			img {
				height: 100%;
				width: 100%;
			}
		}
		.doc_info {
			padding: 40px 15px 15px;
			color: #ffffff;
			h2 {
				margin-bottom: 50px;
				font-family: PFBeauSansPro-Thin, sans-serif;
				font-size: 35px;
			}
			p {
				margin-bottom: 25px;
				max-width: 570px;
				font-family: PFBeauSansPro-Italic, sans-serif;
				font-size: 19px;
				line-height: 30px;
			}
			strong {
				font-family: PFBeauSansPro-Bold, sans-serif;
			}
			.red {
				color: #d7262e;
				font-family: PFBeauSansPro-Bold, sans-serif;
			}
			a {
				display: block;
				margin-bottom: 20px;
				font-size: 14px;
				color: #bbbaba;
				font-family: PFBeauSansPro-Bbook, sans-serif;
				i {
					margin-right: 15px;
					color: red;
				}
				&:hover {
					transition: all 0.5s;
					color: red;
					i {

					}
				}
			}
		}
	}
	
}


@media (min-width: 768px) {
	.doc_anna {
		.doc_flex {
			.doc_info {
				padding: 100px 50px 35px;
				h2 {
					font-size: 55px;
				}
				p:last-of-type {
					margin-bottom: 120px;
				}
				a {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.doc_anna {
		.doc_flex {
			flex-direction: row;
		}
	}
}