a:hover {
  text-decoration: none;
}
.gradient_text {
  background: linear-gradient(-37deg, #0e4675 0%, #d8262e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: PFBeauSansPro-Thin, sans-serif;
  font-size: 45px;
  color: #58585a;
  display: table;
}


