.map {
	position: relative;
	min-height: 400px;
	#googlemaps {
		height: 100%;
		width: 100%;
		position:absolute;
		top: 0;
		left: 0;
		z-index: 0;
		opacity: .75;
	}
	.gmnoprint, .gm-style-cc, .gm-fullscreen-control {
		display: none;
	}

}