@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/reset-scss/reset.scss";
$color1: #E84545; //Red
$color2: #53354A; //Plum
$color3: #903749; //Maroon
@font-face {
  font-family: MinionPro;
  src: url(../fonts/MinionPro-Regular.otf);
}
@font-face {
  font-family: PFBeauSansPro-Bbook;
  src: url(../fonts/PFBeauSansPro-Bbook.otf);
}
@font-face {
  font-family: PFBeauSansPro-Thin;
  src: url(../fonts/PFBeauSansPro-Thin.otf);
}
@font-face {
  font-family: PFBeauSansPro-ThinItalic;
  src: url(../fonts/PFBeauSansPro-ThinItalic.otf);
}
@font-face {
  font-family: PFBeauSansPro-Regular;
  src: url(../fonts/PFBeauSansPro-Regular.otf);
}
@font-face {
  font-family: PFBeauSansPro-Light;
  src: url(../fonts/PFBeauSansPro-Light.otf);
}
@font-face {
  font-family: PFBeauSansPro-Italic;
  src: url(../fonts/PFBeauSansPro-Italic.otf);
}
@font-face {
  font-family: PFBeauSansPro-Bold;
  src: url(../fonts/PFBeauSansPro-Bold.otf);
}
@import "main";
@import "header";
@import "doc_anna";
@import "bio";
@import "appointment-form";
@import "map";
@import "footer";
